<div class="row cv-row">
  <div class="col-sm-2 cv-date">{{ cv.date_display }}</div>
  <div class="col-sm-8">
  	{% if cv.title_url %}
  		<div class="cv-title"><a href="{{ cv.title_url }}">{{ cv.title }}</a></div>
  	{% else %}
  		<div class="cv-title">{{ cv.title }}</div>
  	{% endif %}
  	
  	{% if cv.location %}
  		<div class="cv-organisation">
  		{% if cv.location_url %}
  			<a href="{{ cv.location_url }}">{{ cv.location }}</a>
  		{% else %}
  			{{ cv.location }}
  		{% endif %}
  		</div>
  	{% endif %}
  	
  	{% if cv.description or cv.details %}
	  	<div class="cv-description">
	  		<p>{{ cv.description | safe }}</p>
	  		{% if cv.details %}
	  		<ul>
	  			{% for cvd in cv.details.all %}
	  				<li>{{ cvd.description | safe }}</li>
	  			{% endfor %}
	  		</ul>
	  		{% endif %}
	  	</div>
  	{% endif %}
  </div>
</div>