{% extends "base.html" %} 
{% load i18n %} 
{% load staticfiles %}

{% block extra_head_title %}
	{% trans 'Learning Rebellion' %}
{% endblock extra_head_title %}

{% block content %}
<h1>{% trans 'Learning Rebellion' %}</h1>

{% if page %}
	<div class="content-text">{{ page.content|safe }}</div>
{% endif %}

{% if news %}
	<h2>{% trans 'News' %}</h2>
	{% for post in news %}
		{% include "blog/blog-row.html" %}
	{% endfor %}
{% endif %}


{% if podcasts %}
	<h2>{% trans 'Podcasts' %}</h2>
	{% for podcast in podcasts %}
		{% include "podcast/podcast_row.html" %}
	{% endfor %}
{% endif %}

{% endblock %}
