{% load thumbnail %}
{% load i18n %} 

<div class="row blog-row">
<div class="col-sm-1">
  	{{ post.display_date|date:"d M Y" }}
  </div>
  <div class="col-sm-8">
  	<h3 class="blog"><a href="{{ post.slug }}">{{ post.title }}</a></h3>
  	{{ post.body|safe }}
  	
  </div>
  {% if post.image %}
	  <div class="col-sm-2 blog-icon">
  		{% thumbnail post.image "130x130" format="PNG" padding=True as im %}
	 		<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="thumbnail project-image" alt="{{ post.title }}">
  		{% endthumbnail %}
	  </div>
  {% endif %}
</div>