{% load i18n %}
{% load staticfiles %}
{% block content %}
	    <!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <a class="navbar-brand" href="{% url 'lr_home' %}">
    {% trans 'Learning Rebellion.' %}<br/>
    <span class="strapline">{% trans 'Activate & innovate learning now!' %}</span>
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if home_active == True %}active{% endif %}">
        <a href='{% url 'lr_home' %}' class="nav-link">{% trans 'Home' %}</a>
      </li>
      <li class="nav-item {% if blog_active == True %}active{% endif %}">
        <a href='{% url 'blog_home' %}' class="nav-link">{% trans 'News' %}</a>
      </li>
      <li class="nav-item {% if podcast_active == True %}active{% endif %}">
        <a href='{% url 'podcast_home' %}' class="nav-link">{% trans 'Podcasts' %}</a>
      </li>
      <li class="nav-item {% if projects_active == True %}active{% endif %}">
        <a href='{% url 'projects_home' %}' class="nav-link">{% trans 'Projects' %}</a>
      </li>
    </ul>
  </div>
</nav>
	    
	    
{% endblock content %}
